@font-face {
  font-family: 'FuturaDemiC';
  src:
  url('../fonts/futura/FuturaDemiC.woff2') format('woff2'),
  url('../fonts/futura/FuturaDemiC.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
}
@font-face {
  font-family: 'FuturaBookC';
  src:
  url('../fonts/futura/FuturaBookC.woff2') format('woff2'),
  url('../fonts/futura/FuturaBookC.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
}
